
#header {
  padding: 1em 0 2em 0;
}


article {
  background: #EBEFEF;
  border-top: 1px solid #B9B9B9;
  padding: 2em;

}




.description {
  background: orange;
}

.purpose {
  background: pink;
}

.research {
  background: lime;
}

.paging {
  background: gold;
}

.related {
  background: Crimson;
}
