<% wrap_layout :layout do %>
  <article role="main">
    <h1>Article Title Oh Yea</h1>
    <section class="description">
      <!-- <img src="http://placekitten.com/g/330/200" /> --><!-- teaser image -->
      <img src="http://lorempixel.com/g/330/200/city" />
      <p>
        it does this thing, ya know...
        <a href="/demo" title="">Demo</a>
      </p>
      <p>It does other stuff too...</p>
    </section>

    <section class="purpose">
      <h2>Purpose of This Project</h2>
      <p>to explore...</p>
    </section>

    <aside class="research">
      <h3>Secondary Research</h3>
      <ul>
          <li><cite><a href="">Whitepaper on Foo</a></cite></li>
          <li><cite><a href="">Someone's blog post</a></cite></li>
          <li><cite><a href="">Video describing some interaction</a></cite></li>
      </ul>
    </aside>
    <!-- the paging aside was here -->
    <aside class="related">
      <nav>
        <h3>tags or related projects</h1><!-- Tech & Concepts  -->
        <ul>
          <li><a href="tag/foo">Social Proof</a></li>
          <li><a href="tag/foo">HTML5 <video></video></a></li>
        </ul>
      </nav>
    </aside>
  </article>

  <aside class="paging">
    <nav>
      <h1>next project</h1>
      <ol><!-- I may not need or want these links in a list -->
        <li><a href="">previous</a></li>
        <li><a href="">next</a></li>
        <li><a href="">all</a></li>
      </ol>
    </nav>
  </aside>

<%end %>