<footer class="dark">
  <div>
    <a href="/" alt="Hex Interactive" title="" class="f0 icon-hex-logo">Hex Interactive </a>
    <!-- <small class="copyright">
      <span>Hex Interactive </span> <span>Some Rights Reserved </span>
    </small> -->
    <nav class="footer-nav">
      <ul>
        <li><a href="/resume/">resume</a></li>
        <li><a href="/about/">about</a></li>
        <li><a href="/contact/">contact</a></li>
        <li><a target="_blank" href="/blog/">blog</a></li>
        <li><a href="/">projects</a></li>
      </ul>
    </nav>
    <ul class="hcard f0">
      <li>
        <a target="_blank" href="https://twitter.com/hexinteractive" title="Twitter" class="url f0 icon-twitter">Twitter</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/hexinteractive/" title="Github" class="url f0 icon-github">Github</a>
      </li>
      <li>
        <a target="_blank" href="https://plus.google.com/+BryanYurasits/about" title="Google+" class="url f0 icon-google-plus">Google+</a>
      </li>
      <li>
        <a target="_blank" href="http://www.linkedin.com/in/bryanyurasits/" title="LinkedIn" class="url f0 icon-linkedin">linkedIn</a>
      </li>
    </ul>
    <a href="#top" class="scrollUp icon-arrow-up"><span>back to top </span> </a>
  </div>
</footer>